body{
  overflow-x:hidden;
  font-family: Poppins;
}

img{
top: 0px;
left: 0px;
width: 1366px;
height: 480px;
/* UI Properties */
background: transparent linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box;
mix-blend-mode: multiply;
opacity: 1;
/* z-index:0; */
}

#icon {
  float: left;
}
h1 {
  color: white;
}

button{
  z-index:10;
  font:white;
}
#search {
  height: 480px;
  background-image: url(../image/BackgroundZomato.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
}

a{
padding:10px;margin:5px;border:1px solid black;width:150px;text-decoration:none;
}

.Edlogo {
  font-size:100px;
  border-radius: 100%;
  /* margin-left: 45%;
  margin-top: 7%; */
  /* top: 160px;
  left: 20px;
  width: 147px;
  height: 147px;
   */
  background: #f6f6f6 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  
}

.line-below-icon{
  font-size:50px;
  font: normal normal 600 36px/55px Poppins;
}

.card-img-top{
  height: 160px;
  width:160px;
  object-fit: cover;
}

/* .Edlogo{
  border-radius: 100%;
  color:green;
  margin-left: 25%;
  margin-top: 7%;
  padding:3%;
  left: 9px;
  width: 68px;
  height: 99px;
  text-align: center;
  font: normal normal 600 70px/106px Poppins;
  letter-spacing: 0px;
  color: #EB2929;
  opacity: 1;
 
} */

.search{
    top:200rem;


}


.heading {
font:  Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
/* 
#dropdown {
  position: absolute;
  margin-left: 35%;
  margin-top: 28%;
} */

/* .restaurant-names{

} */
select {
  height: 42px;
  font-size: 20px;
  text-align: center;
}

#quickSearch {
  margin-left: 63px;
  margin-top: 50px;
  width: 90%;
  display: inline-block;
}

.searchBoxes{
  display:flex;
  justify-content:center;
  top:300px;
}
#quickHeading {
  font: normal normal bold 30px/46px Poppins;
  letter-spacing: 0px;
  color: #192f60;
  opacity: 1;
}

/* #quickHeading:hover {
  font-size: 50px;
} */


#quickSubHeading {
  text-align: left;
  font: normal normal normal 22px/27px Poppins;
  letter-spacing: 0px;
  color: #8c96ab;
  opacity: 1;
}


